* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    background-color: #7b0b0b;
    color: rgb(0, 0, 0);
    
}
h1 {
    font-size: 50px;
    margin-bottom: 40px;
}

.choices {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.choices button {
    font-size: 1.5rem;
    padding: 10px 20px;
    margin:0 10px ;
    cursor: pointer;
    border-radius: 5px;
    background-color: #000000;
}

.choices button:hover {
    background-color: #232222;
}

#result{
    margin-top: 20px;
    font-size: 1.8rem;
    text-align: center;
}
#score {
    margin-top: 30px;
    font-size: 1.5rem;
}
.choices button:disabled {
    background-color:  #232222;
    cursor: not-allowed;
}
.resetear button {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.resetear button {
    margin-top: 20px;
    font-size: 1rem;
    padding: 10px 20px;
    margin-top: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #000000;
    color: yellow;
}

.resetear button:hover {
    background-color:  #322f2f;
}